<footer class="wpo-site-footer" id="contact">
    <div class="wpo-upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget wpo-service-link-widget">
                        <div class="widget-title">
                            <h3>Contacto</h3>
                        </div>
                        <div class="contact-ft">
                            <p>Si tienes alguna duda estaremos encantados de ayudaros.</p>
                            <ul>
                                <!-- <li><i class="fi flaticon-email"></i>Feelings@gmail.com</li>
                                <li><i class="fi flaticon-phone-call"></i>+888 (123) 869523</li>
                                <li><i class="fi flaticon-maps-and-flags"></i>New York – 1075 Firs Avenue -->
                                <li>Jael Riera
                                <span>
                                    <i class="fi flaticon-phone-call"></i> 645 65 00 69 
                                </span></li>
                                <li>Álex Carrillo 
                                <span>
                                    <i class="fi flaticon-phone-call"></i> 622 39 20 25 
                                </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col col-xl-3  col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget wpo-service-link-widget">

                        <div class="widget-title">
                            <h3>Número de cuenta</h3>
                        </div>
                        <p>
                            ¡Lo importante es celebrar juntos! <br>
                            Pero si queréis echarnos una mano con un detalle, os lo agradeceremos mucho.
                        </p>
                        <div class="contact-ft">
                            <ul>
                                <li>
                                    <span>
                                        <img src="{{ 'assets/images/poppies/icon_porc.svg' | theme }}" alt="piggy bank" width="30"> ES11 1234 1234 1234 1234
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="wpo-lower-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <small class="copyright"> &copy; 2025. All Rights Reserved.</small>
                </div>
            </div>
        </div>
    </div>
</footer>