<section class="wpo-story-section section-padding-bottom" id="info">
    <div class="container d-md-flex justify-content-between align-items-center">
        <div class="wpo-section-title col-md-5 order-md-2">
            {# <h3 class="d-md-none"><span class="left-part">INFORMACIÓN</span><br><span class="right-part">ADICIONAL</span></h3> #}
            <h3>Información adicional</h3>
            <p class="col-10">Aquí encontrarás algunos detalles importantes sobre la celebración.</p>
        </div>
        <div class="col-md-6 align-items-center justify-content-center order-md-1">
            <div class="col col-sm-12 col-md-12 col-12">
                <div class="tab-area info-adicional-info">
                    <div class="tablinks">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="Meet-tab" data-bs-toggle="tab" href="#Meet"
                                    role="tab" aria-controls="Meet" aria-selected="true">Autocar</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="Date-tab" data-bs-toggle="tab" href="#Date" role="tab"
                                    aria-controls="Date" aria-selected="false">Dresscode</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Meet">
                          <div class="wpo-story-item">
                               <!-- <div class="wpo-story-img">
                                   <img src="assets/images/story/1.jpg" alt="">
                               </div> -->
                               <div class="wpo-story-content">
                                   <div class="wpo-story-content-inner">
                                        <p class="uso-exclusivo" >Ruta del servicio de autocar. <br>
                                            (Uso exclusivo mediante reserva en el <a class="smooth-link" href="#contact-form-main">formulario</a>)</p>
                                       <h2>Ida</h2>
                                        <p class="uso-exclusivo">
                                            <span class="horario">16:15h </span> 
                                            <span>— Estación Fabra i Puig - Meridiana (Por confirmar) <br>
                                               <span class="horario">17:30h </span> — Masia Piguillem
                                               </span>
                                        </p>
                                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.170383970828!2d2.1729574766933277!3d41.43031689333029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd3b462d1fdb%3A0xf665a1175655c3a5!2sPg.%20de%20Fabra%20i%20Puig%2C%20Barcelona!5e1!3m2!1ses!2ses!4v1739739995109!5m2!1ses!2ses" width="250" height="200" style="border:0; width: 100%; margin-top: 1em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        <h2>Vuelta</h2>
                                        <p class="uso-exclusivo">
                                            <span class="horario">3:00h </span><span>— Masia Piguillem <br>
                                            <span class="horario">4:15h </span> — Estación Fabra i Puig - Meridiana (Por confirmar)
                                            
                                        </p>
                                   </div>
                               </div>
                          </div>
                        </div>
                        <div class="tab-pane fade fade-out" id="Date">
                            <div class="wpo-story-item">
                                <div class="wpo-story-content">
                                    <div class="wpo-story-content-inner">
                                        <!-- <h2>First Date</h2> -->
                                        
                                        <p>No hay ningún tipo de restricción ni código a seguir, pero si nos lo permites te podemos dar un consejo:</p>
                                        <p>Como la ceremonia será en el bosque, si te apetece añadir elementos de la naturaleza, ya sea en el estampado o en los accesorios, ¡vas a encajar perfectamente en el ambiente!</p>
                                        
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                    <!-- <img class="flor-lateral-info" src="{{ 'assets/images/poppies/flor-lateral.png' | theme }}" height="100" /> -->
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>