        <!-- start of wpo-contact-section -->
        <section class="wpo-contact-section section-padding-top" id="form">
            <div class="container d-md-flex justify-content-between align-items-center">
                <div class="wpo-section-title col-md-5 ">
                    <h3>¿Te lo vas a perder?</h3>
                    <p class="form-description col-10">Por favor, necesitamos que confirmes tu asistencia rellenando este formulario lo antes posible.</p>
                    <p class="form-description col-10">Es unipersonal, por lo que si vienes con acompañante también deberá rellenarlo. ¡Muchas gracias!</p>
                    <button type="submit" class="theme-btn" data-request="{{InvitadosBoda}}::onExport" data-attach-loading >Exportar invitados</button>
                </div>
                <div class="wpo-contact-section-wrapper col-md-6">
                    <div class="wpo-contact-form-area" id="container-form-response">
                            {# {% partial 'response-form' %} #}
                        <form  method="POST" class="contact-validation-active" id="contact-form-main" data-request="{{InvitadosBoda}}::onBoda" data-request-flash>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre*" required>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Apellidos*" required>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="telf" id="telf" placeholder="Teléfono*" required>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="email" id="email" placeholder="E-mail*" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="alergias" id="alergias" placeholder="Intolerancias y preferencias alimentarias*" required>
                            </div>
                            <div class="container-servicio-autocar col-md-6">
                                
                                <p class="text-center">¿Servicio de autocar?*
                                    <a class="smooth-link mas-info " href="#info"><br class="d-none d-md-block">
                                      <small>(Saber más)</small>  
                                    </a>
                                </p>
                                <div class="form-autocar">                 <label for="autocarSi" class="main-label-autocar">
                                        <input type="radio" class="input-autocar" name="autocar" id="autocarSi" value="1" required>
                                        <label class="deep-label-autocar" for="autocarSi">Si</label>
                                    </label>
                                    
                                    <label for="autocarNo">
                                        
                                        <input type="radio" class="input-autocar" name="autocar" id="autocarNo" value="0" checked>
                                        <label class="deep-label-autocar" for="autocarNo">No</label>
                                    </label>
                                </div>
                            </div>
                            <div class="container-reserva-hijos col-md-6 text-center m-auto">
                                <p class="text-center">¿Vienes con niños/as?*</p><br class="d-none d-md-block">
                                <div class="form-autocar m-auto">                 
                                    <label for="hijosSi" class="main-label-autocar" data-autocar="1">
                                        <input type="radio" class="input-autocar" name="hijos" id="hijosSi" value="1" required>
                                        <label class="deep-label-autocar" for="hijosSi">Si</label>
                                    </label>
                                    
                                    <label for="hijosNo" class="main-label-autocar">
                                        
                                        <input type="radio" class="input-autocar" name="hijos" id="hijosNo" value="0" data-autocar="0" checked>
                                        <label class="deep-label-autocar" for="hijosNo">No</label>
                                    </label>
                                </div>


                            </div>
                            <div class="container-form-hijo col-md-12 ">
                            <div class="formulario-inscripcion-hijos col-md-12 text-center"></div>
                                <div class="form-hijo">
                                    <button class="button-hijo">Añadir niño/a</button>
                                </div>
                            </div>
                                
                                <div class="submit-area col-md-12">
                                        <button type="submit" class="theme-btn" style="z-index: 99;" data-attach-loading>Enviar</button>
                                <div id="c-loader">
                                    <i class="ti-reload"></i>
                                </div>
                            </div>
                            <!-- <div class="clearfix error-handling-messages">
                                <div id="success">Thank you</div>
                                <div id="error"> Error occurred while sending email. Please try again later.
                                </div>
                            </div> -->
                        </form>
                        <div class="border-style"></div>
                    </div>
                    <div class="vector-1">
                        <img src="{{'assets/images/poppies/poppy_formulari.png' | theme }}" alt="" width="350">
                    </div>                    
                </div>
            </div>
        </section>
        {# <form method="Post" data-request="{{InvitadosBoda}}::onBoda">
                <input type="text" name="nombre" required>
                <button type="submit">env</button> #}
        </form>
        <!-- end of wpo-contact-section -->