        <!-- start preloader -->
        <div class="preloader">
            <div class="intro">
                <h2 class="intro-name">Jael & Álex</h2>
                <h2 class="date">03.05.25</h2>=
            </div>
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        
                        <div class="loader-line"></div>
                    </div>
                    <img src="assets/images/preloader.png" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->